<div class="lc-wrapper">
  <div class="lc-title">
    <ng-content></ng-content>
  </div>
  <div slickContainer #slickController="slick" [slickConfig]="config">
    <ng-container *ngIf="slickController.initialize">
      <div slickItem *ngFor="let slide of slideItems" class="slide">
        <div class="lc__slide">
          <picture class="lc__slide-img" [src]=""></picture>
          <div class="lc__slide-title">
            <h3>{{ slide.title }}</h3>
          </div>
          <a
            [owlRouterLink]="['/present']"
            [stopLink]="isDragging"
            class="lc__slide-link"
            >Start here</a
          >
        </div>
      </div>
    </ng-container>
  </div>

  <div class="lc-actions">
    <button
      class="lc-action-prev swiper-navigation-prev"
      (click)="slickController.prev()"
    >
      <img src="assets/images/arrow_back.svg" />
    </button>
    <button
      class="lc-action-next swiper-navigation-next"
      (click)="slickController.next()"
    >
      <img src="/assets/images/arrow_forward.svg" />
    </button>
  </div>
</div>
