<!--Start: Header Component-->
<div class="header-strip"></div>
<div class="header-component">
  <div class="container">
    <div class="row">
      <div class="col col-md-10 m-auto">
        <!--Start: Navbar-->
        <div class="navbar navbar-expand-lg">
          <a class="navbar-brand" routerLink="/">
            <img class="navbar-logo" src="https://seeklogo.com/images/M/MTN-logo-459AAF9482-seeklogo.com.png" />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#primaryNavMenu"
            aria-controls="primaryNavMenu"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="primayNavMenu">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" routerLink="/">Store</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/">Product & Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/">Help & Support</a>
              </li>
            </ul>
            <button class="btn btn-outline-primary">
              <img src="assets/images/search_24px.svg" />
            </button>

            <div class="dropdown">
              <button
                class="btn btn-outline-primary dropdown-toggle"
                type="button"
              >
                <i class="ellipse"></i>Personal
              </button>
            </div>
          </div>
          <ul></ul>
        </div>
        <!--End: Navbar -->
      </div>
    </div>
  </div>
  <!--End: Header Component -->
</div>
