/* Importing Bootstrap SCSS file. */
@import '~bootstrap/dist/css/bootstrap.min.css';

/* Importing global variables file. */
@import "./scss/varialbles";

/* Importing global overrides file. */
@import "./scss/overrides";

html,
body {
  font-family: "Work Sans", sans-serif;
  color: $dark-grey;
}

h1 {
  font-size: 32px;
  font-weight: 400;
  margin: 0;
}

.nav {
  display: block;
}
